body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
<<<<<<< HEAD
  
  
  
=======



>>>>>>> 94aeecb68efa9e88535dc76e6f4cc41d66a2795b
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .grid-container {
    display: inline-grid;
    text-align: center;
  }
  .grid-item1{
    grid-column-end: 4;
  }
  .grid-item2{
    grid-column-end: 8;
  }
  .grid-item3{
    grid-column-end: 13;
  }
<<<<<<< HEAD
  
=======

>>>>>>> 94aeecb68efa9e88535dc76e6f4cc41d66a2795b
  .tem-image{
    height: 450px;
    padding : 50px;
    border-radius: 65px;
  }
<<<<<<< HEAD
  
=======

>>>>>>> 94aeecb68efa9e88535dc76e6f4cc41d66a2795b
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
<<<<<<< HEAD
  }
  
  .column {
      float: left;
      width: 25%;
  }
  
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  
  .footer {
      background-color: black;
      color: white;
      font-size: larger;
      font-family: trebuchet Ms; 
  }
  
  
  a {
      text-decoration: none;
      color: white;
  }
  
  button {
      width: 280px;
      height: 50px;
      border-radius: 8px solid rgb(139, 69, 19);
      background-color: rgb(189, 94, 27);
      outline: none;
      color:white;
      font-style: italic;
  }
  
  .fa {
      padding: 20px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
    }
    
    
    .fa:hover {
      opacity: 0.7;
    }
    
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
  
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    .fa-instagram {
      background:rgb(139, 69, 19);
      color: white;
    }
  
    input {
        background-color: #f2f2f2;
        padding: 12px;
        border-radius: 3px;
        width: 250px;
        outline: none;
    }
  
  
=======
  }
>>>>>>> 94aeecb68efa9e88535dc76e6f4cc41d66a2795b
