body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }



  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .grid-container {
    display: inline-grid;
    text-align: center;
  }
  .grid-item1{
    grid-column-end: 4;
  }
  .grid-item2{
    grid-column-end: 8;
  }
  .grid-item3{
    grid-column-end: 13;
  }

  .tem-image{
    height: 450px;
    padding : 50px;
    border-radius: 65px;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  
  
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .grid-container {
    display: inline-grid;
    text-align: center;
  }
  .grid-item1{
    grid-column-end: 4;
  }
  .grid-item2{
    grid-column-end: 8;
  }
  .grid-item3{
    grid-column-end: 13;
  }
  
  .tem-image{
    height: 450px;
    padding : 50px;
    border-radius: 65px;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .column {
      float: left;
      width: 25%;
  }
  
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  
  .footer {
      background-color: black;
      color: white;
      font-size: larger;
      font-family: trebuchet Ms; 
  }
  
  a {
      text-decoration: none;
      color: white;
  }
  
  button {
      width: 280px;
      height: 50px;
      border-radius: 8px solid rgb(139, 69, 19);
      background-color: rgb(189, 94, 27);
      outline: none;
      color:white;
      font-style: italic;
  }
  
  .fa {
      padding: 20px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
    }
    
    
    .fa:hover {
      opacity: 0.7;
    }
    
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
  
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    .fa-instagram {
      background:rgb(139, 69, 19);
      color: white;
    }
  
    input {
        background-color: #f2f2f2;
        padding: 12px;
        border-radius: 3px;
        width: 250px;
        outline: none;
    }
  
  .mainContent{
    height: 3000px;
    width: 100%;
    background-image: url('../Images/a.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:red;
  }
  .innText{
    font-size: 50px;
    font-style: italic;
  }
  .onebg{
    background-image: url('../Images/bg-one.png');
    height: 400px;
    background-repeat: no-repeat;
    padding-top: 150px;
    margin-left: 345px;
    padding: 50px;
  }
  .bgTwo{
    background-image: url('../Images/Billabong\ Unisex\ Showcase\ Surf\ Tee\ \($17\)\ ❤\ liked….jpeg');
    height: 400px;
    background-repeat: no-repeat;
    margin-left: 345px;
    padding: 50px;
  }
  .bgThree{
    background-image: url('../Images/Nude\ Pants\ and\ Trousers\ _\ Nudevotion.jpeg');
    height: 400px;
    background-repeat: no-repeat;
    margin-left: 345px;
    padding: 50px;
  }
  .bgFour{
    background-image: url('../Images/Push\ Up\ Brassiere\ and\ High-Waist\ Panties.jpeg');
    height: 400px;
    background-repeat: no-repeat;
    margin-left: 345px;
    padding: 50px;
  }
  .bgFive{
    background-image: url('../Images/Lashes\ and\ Lip\ Gloss\ bundles\ _\ 3D\ Mink\ Lashes\ _\ Lip\ Gloss\ bundles\ _homemade\ lipgloss_\ lip\ tint_\ mink\ lashes\ _\ Queen.jpeg');
    height: 400px;
    background-repeat: no-repeat;
    margin-left: 345px;
    padding: 50px;
  }